<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c - %msg%n"/>
        </Console>
        <!--<File name="LOGFILE" fileName="temp">-->
        <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %c - %msg%n"/>-->
        <!--</File>-->
        <Async name="ASYNC">
            <!--<AppenderRef ref="TEMP"/>-->
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>

        <Logger name="com.zeynalov.sample" level="trace"/>

        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>